.Profile {
  padding: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: profile 100ms ease-out;

  @keyframes profile {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .Link {
    width: 100%;
    max-width: 1200px;

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 0;
      width: 12%;
      border-radius: 5px;
      color: #fff;
      background: #4c80d8;
      transition: 0.1s;
      opacity: 0.95;

      &:hover {
        opacity: 1;
      }
    }
  }

  .ProfileWrapper {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #bebebe;
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    margin-top: 15px;

    .imgBlock {
      padding: 15px;

      img {
        width: 300px;
      }
    }

    .descBlock {
      padding: 15px;

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 22px;
        padding: 10px 0;
        width: 175px;
        border-radius: 5px;
        color: #fff;
        background: #2c323a;
        transition: 0.1s;
        opacity: 0.95;

        &:hover {
          opacity: 1;
        }
      }

      ul {
        margin-top: 15px;
        font-size: 17px;
      }

      .Badges {
        display: flex;
        flex-wrap: wrap;

        div {
          margin-right: 10px;
          color: #ffffff;
          padding: 0 8px;
          border-radius: 5px;
        }
      }
    }
  }
}