.Home {
  display: flex;
  justify-content: center;
  padding: 15px 15px 0 15px;

  .HomeWrapper {
    width: 100%;

    .Cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}

