.Alert {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15px;
  border: 1px solid #bebebe;
  border-radius: 5px;
  background: #dcdee0;

  button {
    color: #7c7e80;
    width: 15px;
    background: transparent;
    border: 0;
  }
}