.Repos {
  width: 100%;
  max-width: 1200px;
  padding-top: 15px;
  font-size: 25px;

  a {
    display: block;
    text-decoration: none;
    border: 1px solid #bebebe;
    font-size: 22px;
    padding: 10px 0 10px 10px;
    color: #383838;
    width: 100%;
    border-radius: 5px;
    transition: 0.1s;

    &:hover {
      color: #000;
    }
  }
}

